.btn {
  @extend .font-weight-bold;
  @extend .d-flex;
  @extend .align-items-center;

  .icon {
    @extend .d-inline-flex;
    font-size: 20px;

    + span {
      @extend .d-inline-flex;
      @extend .ml-1;
    }
  }
}
