body {
  font-size: 16px;
  font-family: $font-family-sans-serif;
}

.app-container {
  position: relative;
}

.navbar-white {
  background-color: #fff;
  box-shadow: 0 .1rem 1rem rgba($black, .09);
}

.card-border-top {
  border: 0;
  border-top: 4px solid $primary;
}

.card-header {
  background: white;
}

.navbar-border-top {
  border-top: 2px solid $primary;
}

.min-vh {
  min-height: calc(100vh - 160px);
}

.main-content {
  height: 100vh;
  margin-left: $sidebar-width;

  @include media-breakpoint-down(md) {
    margin-left: 0
  }
}

.main-content {
  transition: margin-left .3s linear;
}

.w-max-18 {
  max-width: 18rem;
}

.w-auto {
  width: auto;
}

.w-min-15 {
  min-width: 15rem;
}

.w-full {
  width: 100%;
}

ion-icon {
  font-size: 18px;
  display: flex !important;
}

.rounded-full {
  border-radius: 50%;
}

.table-middle {
  > tbody > tr > td,
  > tbody > tr > th {
    vertical-align: middle;
  }
}

.item-striped {
  &:nth-of-type(even) {
    background-color: $light;
  }
}

.is-spinning {
  display: inline-block;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
