.logo {
  height: 57px;

  img {
    height: 30px;
  }

  > a {
    font-size: 1.2rem;
    display: block;
    padding: $nav-link-padding-y $nav-link-padding-x;
    color: $sidebar-text-color;

    &:hover {
      color: darken($sidebar-text-color, 5%);
    }
  }

  ion-icon {
    font-size: 1.4rem;
    width: 30px;
    color: $dark;
  }

  .logo-icon {
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    @extend .py-1;
    @extend .px-1;
  }
}
