.modal {
  background-color: rgba(0,0,0,0.5);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.modal-header,
.modal-footer {
  @extend .border-0;
}

.modal-footer {
  background-color: $light;
}
