.sidebar {
  z-index: $zindex-fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100vh;
  overflow-y: auto;
  background-color: $sidebar-bg-color;
  color: $sidebar-text-color;

  @include media-breakpoint-down(lg) {
    left: -$sidebar-width;
  }

  transition: left .3s linear;

  .nav {
    ion-icon {
      width: 30px;
      text-align: center;
      margin-top: 1px;
      font-size: 20px;

      &.ml-auto {
        transition: transform .3s linear;
      }
    }
    .nav-item {
      @extend .mb-1;
    }

    .nav-link {
      @extend .rounded;
      @extend .font-weight-bold;
      transition: background-color 150ms linear, color 150ms linear;
      color: $sidebar-text-color;
      &:hover {
        background-color: darken($sidebar-bg-color, 7%);
      }

      &:active {
        box-shadow: inset 0 3px 18px rgba(0, 0, 0, .3);
      }
    }

    > .nav-item > .nav {
      display: none;
      background-color: lighten($sidebar-bg-color, 10%);
    }

    .router-link-active,
    .active {
      &,
      &:hover {
        background-color: $light;
        color: $dark;
      }

      ion-icon.ml-auto {
        transform: rotate(-90deg);
      }

      + .nav {
        @extend .d-flex;
      }
    }
  }
}
