.sidebar {
  z-index: $zindex-fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100vh;
  overflow-y: auto;
  background-color: $sidebar-bg-color;
  color: $sidebar-text-color;

  @include media-breakpoint-down(lg) {
    left: -$sidebar-width;
  }

  transition: left .3s linear;

  .nav {
    ion-icon {
      width: 30px;
      text-align: center;
      margin-top: 1px;
      font-size: 20px;

      &.ml-auto {
        transition: transform .3s linear;
      }
    }
    .nav-item {
      @extend .mb-1;
    }

    .nav-link {
      @extend .rounded;
      color: $sidebar-text-color;
      &:hover {
        background-color: darken($sidebar-bg-color, 3%);
      }
    }

    > .nav-item > .nav {
      display: none;
      background-color: lighten($sidebar-bg-color, 10%);
    }

    .router-link-active,
    .active {
      background-color: darken($sidebar-bg-color, 3%);
      color: $white;

      ion-icon.ml-auto {
        transform: rotate(-90deg);
      }

      +.nav {
        @extend .d-flex;
      }
    }
  }
}
